<div class="u-container">
  <div class="u-bg-light u-margin-top u-margin-bottom">
    <h1 class="h5 u-margin-bottom">Digipolis Location Picker Service</h1>
    <p>
      <span class="a-label u-margin-right-xs">v1.0.0</span>
      <a [href]="baseUrl + '/api-explorer/'" target="_blank" class="a-button a-button--s">View Swagger doc</a>
    </p>
  </div>

  <form (ngSubmit)="onSubmitNgModel()">
    <aui-location-picker
      name="locationPickerModel"
      [baseUrl]="baseUrl + '/api/v2'"
      [(ngModel)]="selectedLocationModel"
      [locationLayers]="['all']"
      [hasSidebar]="false"
      [tileLayer]="satelliteMapLayer"
      [cascadingCoordinateReturnSingle]="false"
      [cascadingCoordinateRules]="cascadingRules"
    ></aui-location-picker>
    <button type="submit" class="a-button u-margin-top">Log to browser console</button>

    <pre>{{ selectedLocationModel | json }}</pre>
  </form>
</div>

