<header>
  <h1>Location Picker Demo</h1>
</header>
<div class="u-container u-bg-light">
    <p>Antwerp street names:</p>
    <aui-location-picker
        placeholder="kies een straat"
        types="street"
        [(value)]="picker1"
        url="http://localhost:9999/api/locations">
    </aui-location-picker>
    <div *ngIf="picker1">Current value: 
        <pre>{{ picker1 | json }}</pre>
    </div>
    <p>Streets, addresses and points of interest (default behavior):</p>
    <aui-location-picker
        placeholder="kies een plaats"
        [(value)]="picker2"
        url="http://localhost:9999/api/locations">
    </aui-location-picker>
    <div *ngIf="picker2">Current value: 
        <pre>{{ picker2 | json }}</pre>
    </div>
</div>
